# MacOS
.DS_Store

# Make
Makefile
**.make

# Xcode
**.pbxproj
**.xcworkspacedata
**.xcodeproj
**.xcworkspace

# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Visual Studio Code
.vscode/

# Binaries
bin/
obj/

# ImGui
imgui.ini